* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(0, 184, 159), rgb(103, 120, 214));
    font-family: sans-serif;
    color: white;
}

#location, #temperature {
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#temperature {
    flex-direction: column;
}

#temperature-value {
    display: flex;
    align-items: center;
    font-size: 40px;
}

h1 {
    font-size: 50px;
}